@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.sub-headings {
    margin-top: 50px;
    font-weight: 600;
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    /* color: #ff1933; */
    background: #D1A619;
    background: -webkit-repeating-radial-gradient(ellipse farthest-corner at center center, #D1A619 0%, #DEE352 100%);
    background: -moz-repeating-radial-gradient(ellipse farthest-corner at center center, #D1A619 0%, #DEE352 100%);
    background: repeating-radial-gradient(ellipse farthest-corner at center center, #D1A619 0%, #DEE352 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    

}
.carousel-caption {
    position: absolute;
    right: auto;
    top: 10%;
    left: 15%;
    padding-top: 0;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left !important;
}

.heading-banner {
    width: 380px;
    font-weight: 600;
    font-family: 'Philosopher', sans-serif;
    font-size: 80px;
}

.price {
    font-size: 18px;
    color: #d5081f;
    font-weight: 600;
}

.footer {
    background: #800614;
    color: white;
    text-align: left;
  }
  .footer .links ul {
    list-style-type: none;
  }
  .footer .links li a {
    color: white;
    transition: color 0.2s;
    text-decoration: none;
  }
  .footer .links li a:hover {
    text-decoration: none;
    color: #4180CB;
  }
  .footer .about-company i {
    font-size: 25px;
  }
  .footer .about-company a {
    color: white;
    transition: color 0.2s;
    padding-right: 15px;
  }
  .footer .about-company a:hover {
    color: #4180CB;
  }
  .footer .location i {
    font-size: 18px;
    padding-right: 10px;
  }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  @media screen and (max-width:767px) {
    .carousel-caption {
      display: none;
    }
  }